@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Interview Prep App</h1>
    <p>Here you can find interview questions with answers for SQL and ASP.NET MVC.</p>
</div>
